*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height:  100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(248,223,252);
}
.container{
    width: 350px;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 680px;
    overflow-x: hidden;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 35px 8px #201f1f8a;
}
.container::-webkit-scrollbar{
    width: 2px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
i{
    width: 10px;
    height: 10px;
}
img{
    height: 300px;
    width: 100%;
}
#product_details{
    position: relative;
    height: 100px;
    display: none;
}
#product_details h2{
    position: absolute;
    top: -10px;
}
#product_details button{
    margin: 0;
    padding: 0;
    width: 20px;
    border: none;
    margin-top: 50px;
    height: 20px;
    text-align: center;
    font-size: 18px;
}
#product_details h4{
    font-size: 30px;
    position: absolute;
    top: 25px;
    right: 15px;
}
h6{
    text-transform: uppercase;
    color: rgb(110,109,109);
    font-size: 10px;
    padding-top: 10px;
}
h1{
    font-size: 22px;
    padding-top: 10px;
}
h1~i{
    background: transparent;
    color: #d3d364;
    font-size: 20px;
}
b{
    font-size: 14px;
    margin-left: 15px;
}
ins{
    color: rgb(110,109,109);
    font-size: 14px;
    text-decoration: none;
}
ins ~ span{
    float: right;
    margin-right: 10px;
    background: rgb(90,167,90);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 10px;
    color: #fff;
    letter-spacing: 1.2px;
}
h2{
    margin-top: 30px;
    font-size: 16px;
}
h2~ p{
    font-size: 16px;
    height: 68px;
    overflow:hidden;
    text-align: left;
    padding-top:5px;
    color: rgb(134,133,133);
}
.accordin{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(211,209,209);
    padding: 10px;
    text-align: left;
    background: transparent;
    font-weight: bolder;
    margin-top: -1px;
}
.active,
.accordin:hover{
    background: #ccc;
}
.panel{
    display: none;
    padding: 10px;
    color: rgb(134,133,133);
    text-align: justify;
}
.accordin .panel{
    color: rgb(134,133,133);
}
.review{
    height: 100px;
    position: relative;
}
h5{
    margin-top: 25px;
    margin-bottom: 10px;
}
h3{
    font-size: 36px;
}
h3 span{
    font-size: 20px;
    color: rgb(134,133,133);
    font-weight: lighter;
}
h3~ p{
    height: 40px;
}
.star{
    display: flex;
    right: 0;
    position: absolute;
    top: 40px;
    width: 180px;
    height: 42px;
    padding: 10px;
}
.star i{
    width: 40px;
    font-size: 30px;
    color: #d3d364;
}
.buy_btn{
    position: sticky;
    bottom: -15px;
    padding-bottom: 10px;
    background: #fff;
    border: 1px solid #ffff;
}
.button{
    margin: 10px auto;
    display: flex;
    width: 100%;
    color: #fff;
    border-radius: 10px;
    height: 60px;
}
.button p{
    width: 50%;
    background: rgb(120,89,204);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
    color: #fff;
}
.button button{
    background-color: rgb(120,89,204);
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    width: 50%;
    text-align: center;
    font-size: 18px;
    padding-top: 3px;
}